@media screen and (max-width: 720px){
    .wall-text{
        font-size: 36px;
    }

    .main-footer{
        flex-direction: column-reverse;
    }

    #linha-footer {
        height: 0;
        width: 275px;
        border-top: 1px solid var(--third-color);
        margin: 0;
        margin-block: 14px;
    }

    .container-wall{
        min-height: 568px;
    }
}

@media screen and (min-width: 1080px){
    .service{
        min-height: 320px;
        max-height: 400px;
    }
    .plano{
        min-height: 320px;
        max-height: 400px;
    }
}