header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #262626;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  width: 100%;
}

.access {
  transition: all .35s ease;
  color: #262626;
}

.logo {
  width: 144px;
  margin: 10px;
}

.client-access {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-decoration: none;
  min-width: 176px;
  justify-content: space-around;
}

.access:hover {
  background-color: #008BCA;
}

.access:hover #user,
.access:hover p {
  color: #eeeeee;
}

.access-items {
  color: #262626;
  margin: 0;
}

#user {
  color: #262626;
}

.nav-list {
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-list * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav-list li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav-list a {
  padding: .5em .8em;
  color: #262626;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.nav-list a::before,
.nav-list a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav-list a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #008BCA;
  border-right: 3px solid #004C76;
  transform: translate(-100%, 50%);
}

.nav-list a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #004C76;
  border-left: 3px solid #008BCA;
  transform: translate(100%, -50%)
}

.nav-list a:hover:before,
.nav-list a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav-list a:hover {
  color: #008BCA;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #0d0d0d;
  cursor: pointer;
  width: 30px;
  padding: 0;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: grid;
  width: 30px;
  height: 3px;
  background: #0d0d0d;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .hamburger {
    display: block;
    z-index: 1;
    border: none;
    background: none;
    border-top: 3px solid #0d0d0d;
    cursor: pointer;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    clip-path: circle(100px at 90% -35%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav.active .nav-list {
    clip-path: circle(2000px at 90% -35%);
    pointer-events: all;
    padding: 20px;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }

  .nav.active .nav-list li {
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .access {
    display: none;
  }

  #portal {
    display: flex;
  }
}